# Build Directories
*build/

# Bin Directories
*bin/

# Libs
*lib/

# Caches
*cache*/

# Visual Studio stuff
*.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Debug / Release dirs
*Debug/
*Release/

